* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
  text-align: center;
  flex-direction: row;
  min-height: 100vh;
  background: radial-gradient(#4b0082, #ffffff);
}
h1 {
  text-align: center;
  margin: 20px;
  color: black;
  font-size: 40px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #4b0082, #8a2be2);
}
.center {
  width: 350px;
  background: #1f1d36;
  border-radius: 30px;
  margin: auto;
}
input[type="text"] {
  height: 60px;
  width: 300px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  background: linear-gradient(#d1dce0, #dfe6e9);
}
form .buttons {
  width: 300px;
  margin: 10px 25px 0 25px;
  padding: 10px 0;
}
input[type="button"] {
  width: 58px;
  height: 55px;
  margin: 5px;
  font-size: 22px;
  line-height: 55px;
  border-radius: 10px;
  border: 2px solid black;
  background: linear-gradient(#d9d9d9, #bfbfbf);
}
input[type="button"]:hover {
  transition: 0.5s;
  background: linear-gradient(#bfbfbf, #a9a9a9);
}
input#Clear {
  background: #ff1a1a;
  border: 1px solid black;
  color: white;
}
#Clear:hover {
  transition: 0.5s;
  background: linear-gradient(#a52a2a, #a0522d);
}
input#Equal {
  width: 275px;
  margin: 10px 0 10px 0;
  font-size: 30px;
  color: white;
  background: #ff3d00;
  border: 1px solid #b32a00;
}
input#Equal:hover {
  transition: 0.5s;
  background: linear-gradient(#a52a2a, #a0522d);
}
#footer {
  color: rgb(226, 40, 40);
  padding: 4% 4%;
  display: flex;
  height: 30vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer i {
  display: flex;
}
footer i {
  position: relative;
  display: inline;
  color: rgb(233, 161, 227);
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
}
footer i:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  padding-top: 11px;
  text-align: center;
  border-radius: 50%;
  background: black;
  transform: scale(0.9);
}
i:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #f80b03;
}
